* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar, .footer, .special-courses, .btn-primary{
	background-color: #000069;
	border-color: #000069;
}

.logo{
	margin-right: 9px;
}


/*-----index.html-----*/
.jumbotron-index{
	background-image: url("../images/IndexJumbotronPictureAlt.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 85%;
	overflow:hidden;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 16.5%;
}

.display, .lead {
	background-color: ;
	background-blend-mode: lighten;
	font-weight: bold;
}

.special-courses{
	font-size: 20px;
	color: white;
  	margin: 10px 0px;
  	padding: 10px 0px 10px 10px;
}

.card-deck{
	margin: 20px 0px 20px 0px;
}


/*-----profile.html-----*/
.jumbotron-profile{
	background-image: url("../images/ProfileJumbotronPicture.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 30% 42.5%;
	overflow:hidden;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 7%;
}

/*-----register.html-----*/
.jumbotron-register{
	background-image: url("../images/RegisterJumbotronPicture.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 30% 61%;
	overflow:hidden;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5.5%;
}

/*-----courses.html-----*/
.jumbotron-courses{
	background-image: url("../images/CoursesJumbotronPicture.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 30% 42.5%;
	overflow:hidden;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5.5%;
}